@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&family=Oleo+Script:wght@400;700&display=swap');

::root {
  --colorYellow: #FFE473;
  --colorOrange: #FE7C14;
  --colorRed: #eb0029;
  --colorGrey: #acacac;
  --paraColor: #484747;
  /* --colorBlue: #231f40; */
  --colorBlue: #00274C;
  --colorWhite: #ffffff;
  --paraFont: 'Manrope', sans-serif;
  --headingFont: 'Barlow', sans-serif;
  --cursiveFont: 'Oleo Script', cursive;
  --boxShadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}

html {
  font-size: 62.5%;
}

*::selection {
  background-color: var(--colorYellow);
  color: var(--colorBlue);
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white; */
}

.hero {
  margin-top: 130px;
  height: 85.5vh;
  /* border: .1rem solid salmon; */
  background: #231f40c4;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero::before {
  content: '';
  height: 85.5vh;
  width: 100%;
  color: var(--colorWhite);
  position: absolute;
  top: 0;
  background-color: rgba(35, 31, 64, .70);
  /* z-index: -1; */
}

/* .hero .banner-hero {

} */


.hero .container .banner-hero {
  display: flex;
  /* flex-wrap: wrap; */
  /* border: .5rem solid yellow; */
  justify-content: space-between;
  /* z-index: 9; */
}

.hero .container .banner-hero .col-left {
  height: 85.5vh;
  max-width: 60rem;
  /* width: 6rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  /* position: relative; */
  gap: 1rem;
  /* border: .1rem solid green; */
  padding: 0 2rem;
}


.hero .container .banner-hero .col-left h1 {
  color: white;
  font-family: var(--headingFont);
  font-size: 5.8rem;
  font-weight: 700;
}

.hero .container .banner-hero .col-left h3 {
  color: var(--colorYellow) !important;
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--cursiveFont);
}

.hero .container .banner-hero .col-left h1>span {
  color: var(--colorWhite);
  font-family: var(--headingFont);
  font-size: 5.8rem;
  font-weight: 700;
  -webkit-text-stroke-width: .1rem;
  -webkit-text-stroke-color: var(--colorWhite);
  text-shadow: #ffffff;
}

.hero .container .banner-hero .col-left p {
  color: var(--colorWhite);
  font-size: 1.8rem;
}

.hero .container .banner-hero .col-left .review-hero {
  height: 6rem !important;
  display: flex;
  flex-direction: column;
}

.hero .container .banner-hero .col-left .review-hero {
  display: flex;
  gap: .2rem;
  margin-top: 1rem;
}

.hero .container .banner-hero .col-left .review-hero .stars-review i {
  font-size: 1.4rem;
  color: var(--colorYellow);
}


.hero .container .banner-hero .col-left .review-hero .desc-review p {
  color: white;
  font-size: 1.6rem;
  font-style: italic;
}

.hero .container .banner-hero .col-left .review-hero .desc-review span {
  color: white;
  font-size: 1.6rem;
  font-style: italic;
}

.hero .container .banner-hero .col-left .cta-hero .btn-cta-hero {
  padding: 1rem 2rem;
  background-color: var(--colorYellow);
  color: var(--colorBlue);
  border-radius: .7rem;
  font-weight: 700;
}

.hero .container .banner-hero .col-right {
  /* background-color: salmon; */
  width: 60rem;
  height: 85.5vh;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.hero .container .banner-hero .col-right .image-right {
  width: 50rem;
  border-radius: 50%;
  border: 1rem solid var(--colorYellow);
  overflow: hidden;
}

/* .hero .container .banner-hero .col-right .image-right img {
  width: 200px;
  height: 200px;
  object-fit: contain;
} */



/* .hero .container .banner-hero .col-right a {} */

/* END HER0 SECTION */


/* PRODUCTS CSS */
.products {
  width: 95%;
  margin: 2rem auto 0;
  padding: 2rem 0;
}

.products .container .box-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.products .container .box-container .header .btn-menu-group {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  /* margin: 0 auto; */
}


.products .container .box-container .header .title {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.products .container .box-container .header .title .icon {
  height: 3rem;
  color: red;
}

.btn-menu {
  width: 6rem;
  border-radius: .2rem;
  border: .1rem solid red;
  color: grey;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
}

.btn-menu.active {
  width: 6rem;
  border-radius: .2rem;
  background-color: red;
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.products .container .box-container .content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;

}

.products .container .box-container .content .box {
  padding: .5rem;
  box-sizing: border-box;
  background-color: var(--colorWhite);
  max-width: 25rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: .5rem;
  border-radius: .5rem;
}


.products .container .box-container .content .box .box-images {
  height: 100%;
  border: .3rem solid var(--colorBlue);
  border-radius: .5rem;
  overflow: hidden;
}

.products .container .box-container .content .box .box-images image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products .container .box-container .content .box .box-contents {
  flex-grow: 2;
}

.products .container .box-container .content .box .box-contents .title {
  font-size: 1.5rem;
}

.products .container .box-container .content .box .box-contents .price {
  font-size: 1.3rem;
}

.products .container .box-container .content .box .box-contents .footer-products .desc p {
  font-size: 1rem;
  color: grey;
}

.products .container .box-container .link-menu {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.products .container .box-container .link-menu .icon {
  width: 1.2rem;
}

.products .container .box-container .link-menu .btn-view-product {
  padding: 1rem;
  background-color: rgb(255, 251, 0);
  color: grey;
  border-radius: .5rem;
}






/* RESPONSIVE BREAKPOINT */
@media screen and (max-width: 1199px) {


  .hero .container .banner-hero .col-right {
    /* background-color: salmon; */
    width: 40rem;
    height: 85.5vh;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }


  .hero .container .banner-hero .col-right .image-right {
    width: 30rem;
    border-radius: 50%;
    border: 1rem solid var(--colorYellow);
    overflow: hidden;
  }
}

/* RESPONSIVE BREAKPOINT */
@media screen and (max-width: 767px) {

  .hero .container .banner-hero {
    justify-content: center;
    margin: 0 auto;
    /* border: .2rem solid red; */

  }

  .hero .container .banner-hero .col-left {
    height: 85.5vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    /* position: relative; */
    gap: 1rem;
    /* border: .2rem solid white; */
    padding: 0 2rem;
  }

  .hero .container .banner-hero .col-left h1 {
    text-align: center;
  }

  .hero .container .banner-hero .col-left p {
    text-align: center;
    margin-bottom: 3rem;
  }

  .hero .container .banner-hero .col-left .review-hero {
    align-items: center;
  }

  .hero .container .banner-hero .col-right {
    display: none;
  }

  .products .container .box-container .header .btn-menu-group {
    margin: 0 auto;
  }
}

@media screen and (max-width: 428px) {
  html {
    font-size: 52.5%;
  }
}