.products {
  /* border: .1rem solid salmon; */
  width: 95%;
  margin: 2rem auto 0;
}

.products .container .box-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 0.1rem solid blue; */
}

.products .container .box-container .header .title .icon {
  height: 1.5rem;
}

.btn-sm {
  width: 6rem;
  border-radius: .2rem;
  background-color: red;
  color: #fff;
}

.products .container .box-container .header .title .icon {
  height: 1.5rem;
}


.products .container .box-container .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;

}

.products .container .box-container .content .box {
  /* width: 0rem; */
  padding: 1rem;
  box-sizing: border-box;
  max-width: 25rem;
  /* height: 10rem; */
  /* border: .1rem solid salmon; */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  align-items: center;
}


.products .container .box-container .content .box .box-images {
  /* max-width: 20rem; */
  /* flex-grow: 1; */
  /* width: 7rem; */
  height: 100%;
  border: .3rem solid yellow;
}


.products .container .box-container .content .box .box-contents {
  flex-grow: 2;
}

.products .container .box-container .content .box .box-images image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}