::root {
  --colorPrimary: #FFE473;
  --colorOrange: #FE7C14;
  --colorRed: #eb0029;
  --colorGrey: #acacac;
  --paraColor: #484747;
  --colorBlack: #231f40;
  --colorWhite: #ffffff;
  --paraFont: 'Manrope', sans-serif;
  --headingFont: 'Barlow', sans-serif;
  --cursiveFont: 'Oleo Script', cursive;
  --boxShadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
}

.review-hero {
  height: 6rem !important;
  display: flex;
  /* background-color: salmon; */
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.review-hero .stars-review {
  /* border: .1rem solid white; */
  display: flex;
  gap: .2rem;
}

.review-hero .stars-review i {
  font-size: 1.7rem;
  color: var(--colorPrimary);
}

/* .review-hero .desc-review {
} */

.review-hero .desc-review span {
  color: white;
  font-size: 1rem;
  font-style: italic;
}

.cta-hero .btn-cta-hero {
  padding: 1rem 2rem;
  background-color: var(--colorPrimary);
  border-radius: .7rem;
  font-weight: 700;
}

.products {
  width: 95%;
  margin: 2rem auto 0;
  padding: 2rem 0;
  /* background-color: rgb(225, 225, 223); */
}

.products .container .box-container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}


.products .container .box-container .header .btn-menu-group {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  /* margin: 0 auto; */
}

@media screen and (max-width: 767px) {
  .products .container .box-container .header .btn-menu-group {
    margin: 0 auto;
  }
}

.products .container .box-container .header .title {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.products .container .box-container .header .title .icon {
  height: 1.5rem;
  color: red;
}

.btn-menu {
  width: 6rem;
  border-radius: .2rem;
  /* background-color: red; */
  border: .1rem solid red;
  color: grey;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-menu.active {
  width: 6rem;
  border-radius: .2rem;
  background-color: red;
  /* border: .1rem solid red; */
  color: white;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.products .container .box-container .content {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
  gap: 1rem;

}

.products .container .box-container .content .box {
  padding: .5rem;
  box-sizing: border-box;
  background-color: #fff;
  /* width: 20rem; */
  max-width: 25rem;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px; */
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  /* align-items: center; */
  gap: .5rem;
  border-radius: .5rem;
}


.products .container .box-container .content .box .box-images {
  height: 100%;
  border: .3rem solid yellow;
}

.products .container .box-container .content .box .box-images image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.products .container .box-container .content .box .box-contents {
  flex-grow: 2;
}

.products .container .box-container .content .box .box-contents .title {
  font-size: 1rem;
}

.products .container .box-container .content .box .box-contents .price {
  font-size: 1rem;
}

.products .container .box-container .content .box .box-contents .footer-products .desc p {
  font-size: .7rem;
  color: grey;
}

.products .container .box-container .link-menu {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.products .container .box-container .link-menu .icon {
  width: 1.2rem;
}

.products .container .box-container .link-menu .btn-view-product {
  padding: 1rem;
  background-color: rgb(255, 251, 0);
  color: grey;
  border-radius: .5rem;
}