@import '../style/responsive.scss';
@import '../style/variable.scss';

.menuPage {
  margin-top: 13rem;
  margin-bottom: 5rem;
  // border: .1rem solid salmon;

  @include phone {
    margin-top: 17rem;
  }

  .container {
    .header {
      text-align: center;
      font-size: 2.6rem;
    }
  }
}